# Node dependencies
node_modules/

# Build outputs
/dist/
/build/

# Logs
npm-debug.log*
yarn-debug.log*
web/package-lock.json
yarn-error.log*

# Environment variables
.env
.env.*
*.env
!.env.example
!.env.test

# Misc
.DS_Store

