[flake8]
max-line-length = 88
extend-ignore = E203,W503
exclude =
    migrations,
    .venv,
    node_modules,
per-file-ignores =
    faladesk_backend/settings/dev.py:F401,F403,F405,
    faladesk_backend/settings/prod.py:F401,F403,F405,
    faladesk_backend/settings/test.py:F401,F403,F405
